target/
*.jar
*.zip
.mule/
**/config.properties
!**/config.properties.example
**/application.properties
!**/application.properties.example
**/reports/
.metadata/
.settings/
.project
.classpath
*.log
Thumbs.db
.DS_Store
.recommenders/
.tooling-apps-cache/